body{
    background-color: hsl(0, 0%, 15%);
    margin: 0;
}
p{
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 1in;
    /*position: static;*/
}
td {
    margin: 0;
}
/*============NAVBAR MENU SECTION================ */
.navBar {
    /*background-color: hsl(0, 0%, 7%);*/
    background-color: rgba(12, 12, 12, 255);
    opacity: 90%;
    width: 100%;
    
    display: flex;
    align-items:center;
    
}
.navSection {
    font-family: 'Ubuntu', sans-serif;
    font-size: 300%;
    color: white;
    position: sticky;
    top: 0%;
    margin: 0;
    padding: 0;
    z-index: 1;
    
}
.menu{
    display: flex;
    flex: 1;
    justify-content: right;
    right: 0%;
}
.menuIcon {
    transition: opacity 0.3s;
    opacity: 100%; 
    width: 75px;
    border-radius: 8px;
    /*position: absolute;*/
    margin: 0;
}
.menuIcon:hover {
    opacity: 75%;
}
/*============NAVBAR MENU SECTION================ */
.headerText {
    font-size: 25px;
    flex-basis: 100%;
    text-align: center;
}
#icon {
    width: 100px;
    height: auto;
    border-radius: 4px;
    box-shadow: 1px 10px 5px black;
    flex-basis: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: visible;*/
    flex-wrap: wrap;
}
.container2 {
    display: flex;
    justify-content: center;
}

.intro {
    /*display: block;*/
    
    margin: auto;
}
.section {
    text-align: center;
    display: block;
}
.sep{
    width: 300px;
    
}
.sepText {
    font-size: 40px;
    margin: 0px;
}
.normText {
    font-size: 1.8vw;

}
.skills_topic{
    font-size: 15px; 
    color: aquamarine;
}
.skills_great{
    font-size: 10px;
}
.skills_good{
    font-size: 10px;
}
li {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 85%);
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.workImages {
    text-align: center;
    flex-basis: 100%;
    max-width: 30%;
    min-width: 30%;
}
.workDescription{
    font-size: 25px;
    
    flex-basis: 100%;
}
.project{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 0.3in;
}

@media (min-width: 600px){
    body {
        /*max-width: 2527px;
        min-width: 1427px;*/
    }
    #icon {
        width: 300px;
        border-radius: 16px;
        flex-basis: 0%;
    }
    .container {
        flex-wrap: nowrap;
    }
    .headerText{
        font-size: 2vw;
        margin-right: 5in;
        margin-left: 2in;
    }
    .normText{
        font-size: 30px;
    }
    .skills_topic{
        font-size: 30px; 
        color: aquamarine;
    }
    .skills_great{
        font-size: 20px;
    }
    .skills_good{
        font-size: 20px;
    }
    .section{
        margin: 1in;
    }
    .normText{
        font-size: 1vw;
        margin-right: 15%;
        margin-left: 15%;
    }
    .intro{
        /*max-width: 2200px;
        min-width: 2200px;*/
    }
    .project{
        flex-wrap: nowrap;
        text-align: left;
        display: flex;
        /*
        max-width: 2335px;
        min-width: 2335px; */
    }
    .workDescription{
        flex-basis: 50%;
        font-size: 1vw;
        margin-right: 5%;
        /*margin-right: 5in;*/
    }
    .workImages{
        flex-basis: 50%;
        margin-left: 0px;
        width: 30%;
        height: 20%;
        margin-right: 1in;
        margin-left: 1in;
    }
}