body{
    background-color: hsl(0, 0%, 15%);
    margin: 0;
}
p{
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 1in;
    /*position: static;*/
}
td {
    margin: 0;
}
html {
     scroll-behavior: smooth;
}
/*============NAVBAR MENU SECTION================ */
.navBar {
    /*background-color: hsl(0, 0%, 7%);*/
    background-color: rgba(12, 12, 12, 255);
    opacity: 90%;
    width: 100%;
    display: flex;
    align-items:center;
    overflow: auto;
    
}
.navSection {
    font-family: 'Ubuntu', sans-serif;
    font-size: 300%;
    color: aquamarine;
    position: sticky;
    top: 0%;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.menu{
    display: flex;
    flex: 1;
    justify-content: right;
    right: 0%;
}
.menuIcon {
    transition: opacity 0.3s;
    opacity: 100%; 
    width: 75px;
    border-radius: 8px;
    margin: 0;
}
.menuSectionButton {
    color: white;
    background-color: rgba(12, 12, 12, 255);
    font-size: 50%;
    line-height: 300%;
    transition: background-color linear 0.3s;
    opacity: 100%; 
}
.menuSectionButton:hover {
   /*background-color: rgb(104, 0, 90)*/
   background-color: blueviolet;
}
.menuIcon:hover {
    opacity: 75%;
}
/*============NAVBAR MENU SECTION================ */

/* ============PROJECTS SECTION================ */

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
    overflow: hidden;
    /* */
}
.workMainContainer {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}
.workContainer {
    width: 25%;
    
}
.workTitle {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}
.project{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}
.workLink{
    display: inline;
    box-sizing: border-box;
    
}
.workItem {
    height: 360px;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border: 2px solid black;
    
    overflow: visible;
    z-index: 2;
}
.workItem:hover {
    border-color: blueviolet;
    
}
.workItemImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
}
.tagContainer {
    display: flex;
    padding-top: 10px;
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
    
}
.tag {
    padding: 5px;
    border: 2px solid black;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
}
.tag:hover {
    border-color: azure;
}
/* ============PROJECTS SECTION================ */
/* ============NEW PAGE SECTION================ */
.headerImage {
    width: 100%;
}
.gameTitle {
    background-color: rgb(99, 31, 163);
    text-align: center;
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
    padding: 2%;
    font-size: 40px;
}
.gameDescription {
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(26, 26, 26);
    font-size: 150%;
    padding: 1%;
    line-height: 150%;
    text-align: center;
}
.contribution {
    font-size: 200%;
    padding-top: 2%;
    padding-bottom: 0.7%;
}
/* ============NEW PAGE SECTION================ */
#dropDownMenu {
    
}
.dropDownMenuIcon{

}
#dropDownIcon {
    visibility: visible;
}
.sectionDivider {
    height: 81px;
}
.headerText {
    font-size: 200%;
    flex-basis: 100%;
    text-align: center;
}
#icon {
    width: 100px;
    height: auto;
    border-radius: 4px;
    box-shadow: 1px 10px 5px black;
    flex-basis: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: visible;*/
    flex-wrap: wrap;
}
.container2 {
    display: flex;
    justify-content: center;
}
.intro {
    margin: auto;
}
.section {
    text-align: center;
    display: block;
}
.sep{
    width: 300px;
    padding-bottom: 10px;
}
.sepText {
    font-size: 40px;
    margin: 0px;
    padding-top: 10px;
}
.normText {
    font-size: 1.8vw;
}
.skills_topic{
    font-size: 15px; 
    color: aquamarine;
}
.skills_great{
    font-size: 10px;
}
.skills_good{
    font-size: 10px;
}
.workImages {
    text-align: center;
    flex-basis: 100%;
    max-width: 30%;
    min-width: 30%;
}
@media (min-width: 600px){
    #dropDownIcon {
        visibility: hidden;
    }
    #icon {
        width: 300px;
        border-radius: 16px;
        flex-basis: 0%;
    }
    .container {
        flex-wrap: nowrap;
    }
    .headerText{
       font-size: 2vw;
       padding-right: 70px;
       padding-left: 70px;
       margin-right: auto;
       margin-left: auto;
        /*margin-right: 5in;
        margin-left: 2in;*/
    }
    .normText{
        font-size: 1vw;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .skills_topic{
        font-size: 30px; 
        color: aquamarine;
    }
    .skills_great{
        font-size: 20px;
    }
    .skills_good{
        font-size: 20px;
    }
    .workImages{
        flex-basis: 50%;
        margin-left: 0px;
        width: 30%;
        height: 20%;
        margin-right: 1in;
        margin-left: 1in;
    }
}