body{
    background-color: hsl(0, 0%, 15%);
    
}
p{
    color: hsl(0, 0%, 85%);
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 1in;
    position: static;
}
.headerText {
    font-size: 55px;
    margin-right: 5in;
    margin-left: 2in;
    text-align: center;
}
#icon {
    width: 300px;
    height: auto;
    border-radius: 16px;
    box-shadow: 1px 10px 5px black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.container2 {
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: right;
}
.intro {
    display: block;
    
    margin: auto;
}
.section {
    margin: 1in;
    text-align: center;
    display: block;
}
.sep{
    width: 300px;
    
}
.sepText {
    font-size: 40px;
    margin: 0px;
}
.normText {
    font-size: 30px;
    margin-right: 3in;
    margin-left: 3in;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 85%);
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.menuIcon {
    transition: width 0.3s;
    width: 75px; 
    border-radius: 8px;
    position: absolute;
}
.menuIcon:hover {
    width: 80px;
}

.workImages {
    max-width: 700px;
    min-width: 700px;
    margin-right: 1in;
    flex-basis: 100%;
}
.workDescription{
    font-size: 25px;
    
    flex-basis: 100%;
}
.project{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 0.3in;
}

@media (min-width: 600px){
    body {
        max-width: 2527px;
        min-width: 1427px;
    }
    .intro{
        max-width: 2200px;
        min-width: 2200px;
    }
    .project{
        flex-wrap: nowrap;
        text-align: left;
        max-width: 2335px;
        min-width: 2335px;
    }
    .workDescription{
        flex-basis: 50%;
        margin-right: 5in;
    }
    .workImages{
        flex-basis: 50%;
    }
}